// ================== COLOR ======================== //
$primary-base-color: #3f3f3f;
$primary-base-color-translucent: rgba(63, 63, 63, 0.6);
$primary-font-color: #d3d3d3;
$secondary-base-color: #6e6e6e;
$secondary-base-color-translucent: rgba(110, 110, 110, 0.6);
$secondary-font-color: #fefefe;
$primary-font-color-dark: #e83e8c;
$secondary-font-color-dark: #c93969;

// ================== TYPOGRAPHY =================== //
$font-size-small-header: 0.8rem;
$default-small-font: 0.8rem;

// ================== LAYOUT ======================= //
$small-font-padding: 0.25rem 0.5rem;
$header-height: 4rem;

// ================== OTHER ======================== //
$default-blur: blur(3px);
$default-aside-width: 20%;