$header-height: 12%;
$primary-base-color: #3f3f3f;
$primary-base-color-translucent: rgba(63, 63, 63, 0.6);
$primary-font-color: #d3d3d3;
$secondary-base-color: #6e6e6e;
$secondary-base-color-translucent: rgba(110, 110, 110, 0.6);
$secondary-font-color: #fefefe;
$default-blur: blur(3px);
$default-aside-width: 20%;