@import "./../../styles/variables";

.c-ToolBox {
  min-height: $section-tool-panel-height;
  // height: $section-tool-panel-height;
  color: $primary-font-color;
  background: $primary-font-color-dark;
  padding: $small-font-padding;
  // overflow-x: hidden;
  // text-align: right;

  .c-ToolBox__toolDisplayer {
    display: none;
  }

  &:hover {
    .c-ToolBox__toolDisplayer {
      cursor: pointer;
      display: block;
      right: 0;
      top: 0;
      width: 1rem;
      height: 2rem;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2000px rgba(0, 0, 0, .5);
      backdrop-filter: blur(5px);
      filter: blur(3px);
    }
  }

  &.borderRight {
    border-right: 1px solid grey;
  }
}
