@import "./../../styles/variables";

.c-ArmoryLib {
    overflow: scroll;
    ul {
        padding-left: 2rem;
        &:first-child { padding-left: 0;}
        .c-Aside__list-item {
            list-style: none;
            cursor: pointer;

            .c-Aside__list-item-text {
                display: block;
                padding: 0.3rem 0.3rem 0.3rem 0.5rem;
                border-radius: 15px;
                transition: all 0.5s ease-in-out;
                
                &:hover {
                    background: $secondary-base-color;
                    color: $secondary-font-color;
                }
            }
        }
    }
}
