@import "./../../styles/variables";

.c-ArmoryLib {
    white-space: nowrap;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.2);
        background: black;
        transform-origin: top left;
    }

    ul {
        padding-left: 2rem;
        &:first-child { padding-left: 0;}
        .c-Aside__list-item {
            list-style: none;
            cursor: pointer;

            .c-Aside__list-item-text {
                display: block;
                padding: 0.3rem 0.3rem 0.3rem 0.5rem;
                border-radius: 1rem;
                border: 1px solid transparent;
                font-size: 0.875rem;
                line-height: 1.5rem;
                transition: all 0.3s ease-in-out;
                
                &:hover {
                    border: 1px solid $primary-font-color-dark;
                    color: $primary-font-color-dark;
                }
            }
        }
    }
}
