.modal-content {
    max-height: 75vh;
}

.saving-container {
    padding: 1.5rem 0;
}

.report-container {
    padding-bottom: 1.5rem;
}

.saving-section-label {
    display: block;
    padding-bottom: 0.5rem;
}
