<div class="aux-primary">
    <div class="upload__title">
        <div>
            <div class="aux-p14 aux-bold">{{importConfig.title}}</div>
            <span>{{importConfig.caption}}</span>
        </div>
        <aux-button type="secondary" label="Back" (click)="hideUploadScreen.emit()"></aux-button>
    </div>
    <div class="upload__container">
        <div class='upload-column--single upload-info'>
            <div class='upload-text'>
                <span class='aux-p12 aux-italics table-label'>Please provide data columns in the format illustrated here:
                </span>
                <aux-tooltip>
                    <aux-button
                        slot='target'
                        icon='help'
                        type='tertiary'
                        [assistiveText]="'help'">
                    </aux-button>
                    <span slot='content'>
                        <ng-container *ngIf="importConfig.tooltip; else noTooltip">
                            {{importConfig.tooltip}}
                        </ng-container>
                        <ng-template #noTooltip>
                            <ng-container *ngIf="modelingType === 2">
                            <p>For what-if portfolios:</p>
                            <p>1) The 'Portfolio Type' column only accepts the following as valid options:
                             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) POINT_IN_TIME - Point in time portfolio
                             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) THROUGH_TIME - Through time portfolio
                             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) FROM_SCRATCH_PORT - Create from scratch 'point in time' portfolio</p>
                            <p>2) The 'Username' column only accepts Aladdin logins; full names cannot be used. Please also check that all spaces are removed from the cells in this column.</p>
                        </ng-container>
                        <ng-container *ngIf="modelingType !== 2">
                            "To specify the portfolio to which a security should be added, please include a third column that provides the portfolio ticker.<br>
                            If this is not specified, the security will be passed in the root portfolio group or portfolio."
                        </ng-container>
                        </ng-template>

                    </span>
                </aux-tooltip>
            </div>
            <table>
                <tr *ngFor='let row of importConfig.dataFormat'>
                    <td *ngFor='let cell of row'>{{cell}}</td>
                </tr>
            </table>
        </div>
        <div class="upload-column--double column-content--center paste-container"
             [ngClass]="{'paste-container--focus' : pasteAreaFocused}">
            <textarea class="paste-area"
                      (focusin)="pasteAreaFocused = true"
                      (focusout)="pasteAreaFocused = false"
                      (paste)="onDataPasted($event)">
            </textarea>
            <span class="aux-p13 aux-bold" contentEditable=false>Click here and paste (Ctrl + V)</span>
        </div>
        <div class="column-content--center uploader-label">
            <span class="aux-p13 aux-bold">or</span>
        </div>
        <div class="upload-column--double column-content--center uploader-file">
            <aux-uploader type="regular"
                          accept=".csv"
                          [multiple]=true
                          (changed)="onFileUpload($event)">
            </aux-uploader>
        </div>
    </div>
</div>
