<aux-modal class="export-options-modal-area" [isOpen]="isOpen" type="action" [hasCustomHeader]="true" [hasCustomFooter]="true">
    <div slot="custom-header" class="aux-g32--cw-6 custom-header" [ngClass]="{'export-options-modal-size' : this.exportComposite.exportConfig.getExportType() === 'Excel'}">
        <div class="header-title aux-p20 aux-bold aux-primary">{{this.exportHeader}}</div>
    </div>
    <div slot="content" class="aux-g32--cw-6 content-container" [ngClass]="{'export-options-modal-size' : this.exportComposite.exportConfig.getExportType() === 'Excel'}">
        <div [ngClass]="{'export-options-content' : this.exportComposite.exportConfig.getExportType() === 'PDF'}">
            <app-export-options [exportConfig]="exportComposite.exportConfig" [exportComposite]="this.exportComposite"></app-export-options>
        </div>
    </div>
    <div slot="custom-footer" class="custom-footer-container--two-buttons">
        <aux-button class="custom-footer--primary-button" [label]="OK_TEXT" [type]="'primary'" (click)="closeModal(true)"></aux-button>
        <aux-button [label]="CANCEL_TEXT" [type]="'secondary'" (click)="closeModal()"></aux-button>
    </div>
</aux-modal>
