@import "./../../styles/variables";

.c-Armament {
  .c-Armament__list-item-text__collapseStatus {
      border-top: 1px solid white;
      border-right: 1px solid white;
      padding: 0.25rem;
      float: left;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;

      &.expanded {
        transform: rotate(135deg);
      }
  }
}
