.c-ComponentImporter {
    height: 97%;
    background: #555;

    .hovered {
        .code-importer-input-tools, .code-importer-output-tools {
            background: black;
            .code-importer-input-tool, .code-importer-output-tool {
                color: white !important;
            }
        }
    }
    .c-ComponentImporter__code-input, .c-ComponentImporter__code-output {
        font-family: "Courier New", Courier, monospace;
        padding: 1rem;
        color: black;
        // white-space: pre-line;
        &:focus {
            outline: none;
        }
    }

    .code-importer-input-tools, .code-importer-output-tools {
        right: 0.5625rem;
        background: rgba(150, 150, 150, 0.5);
        padding: 0.5rem 1rem;
        border-bottom-left-radius: 1rem;
        transition: all 0.3s ease-in-out;

        .code-importer-input-tool, .code-importer-output-tool {
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 0.8rem;
            }

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    .code-importer-output-tools {
        right: 0.875rem;
    }
}
