@import "./../../styles/variables";

.c-ComponentCreator {
    .c-ComponentCreator__content {
        top: 4rem;
        height: calc(100% - #{$header-height});
        width: 100%;
        flex: auto;
        transition: all 0.3s ease-in-out;

        &.developer-mode {
            height: calc(100% - #{$header-height} - #{$logger-height})
        }
    }
}
