@import "./../../styles/variables";

.c-ComponentCreator {
    .c-ComponentCreator__content {
        top: 4rem;
        height: calc(100% - #{$header-height});
        width: 100%;
        // aside {flex-grow: 1;}
        main {flex-grow: 4;}
    }
}
