.custom-header {
  padding: 1.25rem 2rem 1.1875rem;
  display: inline-block;
  border-bottom: 1px solid var(--dialog__border-color);

  .header-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-text__color);
  }
}

.save-favorite-contents {
  margin: 32px;
  .save-favorite-item {
    margin-bottom: 16px;
  }
}

.contents-height {
  height: 650px;
}

.custom-footer {
  margin: 16px 0;
  .btn {
    float: right;
    margin-right: 16px;
  }
}

.favorite-search-field-area {
  margin-bottom: 20px;
}
