<aux-date-picker
    [closeCalendarOnBlur]="false"
    [dateFormat]="AuxDatePickerDateFormatEnum.MM_DD_YYYY"
    [displayDateFormat]="AuxDatePickerDateFormatEnum.MM_DD_YYYY"
    [filterMonths]="true"
    [hasDateFormatSettings]="false"
    [hasFooterSettings]="!hideFooter"
    [hasSeparatorSettings]="false"
    [holidays]="auxHolidaysData$ | async"
    [isDisabled]="isDisabled"
    [isFastLoad]="true"
    [isFooterVisible]="!hideFooter"
    [isLeftLabel]="isLeftLabel"
    [isOpen]="isDatePickerOpen"
    [isRelativeDate]="includeRelativeDate"
    [isValid]="isValid"
    [keepRelativeDate]="dateObject.dateString"
    [keepTodayEnabled]="true"
    [label]="label"
    [maxDate]="maxDateString"
    [minDate]="minDateString"
    [relativeDateValue]="dateObject.dateString ? displayDate : undefined"
    [separator]="AuxDatePickerSeparatorsEnum.FORWARD_SLASH"
    [settingsSelectData]="calendarOptions"
    [size]="size"
    [skipValidation]="true"
    [value]="absoluteDate"
    [footerLabel]="selectedCalendar?.calendarName"
    (valueChanged)="onDateChangedFromInputBox(dateObject, $event)"
    (footerClicked)="onFooterClicked($event)"
    (calendarSelected)="onCalendarSelected($event)"
    (calendarOpened)="onDatePickerOpened()"
    (calendarClosed)="onDatePickerClosed()">
</aux-date-picker>
