@import "./../../styles/variables";

.c-Header {
  top: 0;
  height: $header-height;
  left: 0;
  width: 100%;
  background: $primary-base-color-translucent;
  backdrop-filter: $default-blur;
  border-bottom: 3px solid $primary-font-color;

  p {
    margin-bottom: 0;
  }
}
