@import "./../../styles/mixins";

.c-Header {
  @include app-header;

  &.dashboard {
    background: $primary-base-color;
    border: 1px solid $primary-base-color;
  }

  &.component-creator {
    background: $primary-base-color-translucent;
  }

  .c-Header__app-logo {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
  }

  .ar-Header__app-name {
    font-family: "Allerta Stencil", Capriola;
    font-weight: 700;
    font-size: 1.5rem;

    .ar-Header__app-name-i {
      color: red;
    }
    .ar-Header__app-name-o {
      color: green;
    }
  }
}
