@import "./../../styles/variables";

.c-Header {
  top: 0;
  height: $header-height;
  max-height: 4rem;
  left: 0;
  width: 100%;
  background: $primary-base-color-translucent;
  // background-image: url("./../../static/images/NKJDiIh-blue-nature-wallpaper.jpg");
  // backdrop-filter: $default-blur;
  border-bottom: 0.0675rem solid $primary-font-color;
  z-index: 1;

  p {
    margin-bottom: 0;
  }
}
