.constraint-options-breakdown {
    .breakdown-header {
        padding-bottom: 0.75rem;
    }

    .breakdown-header-text {
        font-weight: var(--font-weight-bold);
    }

    .breakdown-preview {
        padding-left: 1rem;
    }
}
