.multi-measure-breadcrumbs-area {
    font-weight: bold !important;
    margin: 11px 0 2px 17px;
    font-size: 12px;
    color: var(--primary-action__color);
}

.multi-measure-breadcrumbs-area:hover {
    font-weight: normal !important;
}

.inline-item {
    display: inline-block;
}
