.fund-sectoring-upload-cusips-container {
    .upload-list-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .upload-screen-container {
        margin-top: -1rem;
    }

    margin-bottom: 1rem;
}
