.c-ZoomSlider {
    .zoom-btn {
        // padding: 0 !important;
        border-radius: 50%;
        max-width: 2rem;
    }

    .right-positioned {
        border-radius: 50%;
    }

    .slider-container {
        max-width: 0;
        overflow: hidden;
        padding: 0;
        border: 0;
        transition: all 0.3s linear;
        margin-left: -1.8rem;
        vertical-align: middle;

        &.hovered {
            border: 2px solid rgb(37, 86, 102);
            padding: 0.1rem 0.4rem;
            border-radius: 1.2rem;
            max-width: 100%;

            input {
                margin-left: 1.8rem;
            }
        }

        .slider-input {
            padding-left: 2rem;
        }
    }
}
