.override-date-column-options {
    padding-right: 1.5rem;
}

.exposure-label-style {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid var(--option-group__border-color);
    padding-bottom: 0.75rem;
}

.multi-override-date-label {
    font-weight: var(--font-weight-bold);
}
