.breakdown-options-column-sector {

    .breakdown-options-header {
        margin-bottom: 1rem;

        hr {
            border: none;
            border-top: 1px solid var(--dialog__border-color);
            margin-top: .5rem;
        }
    }

    .breakdown-options-column-sector-extended {
        margin-bottom: 1.25rem;
    }
}
