.color-picker__container {
    display: flex;
    flex-direction: column;

    .color-picker__label {
        height: 15px;
        padding-bottom: 0.5rem;
    }

    .color-picker__input {
        display: flex;

        .color-picker__color {
            min-width: 2rem;
            border: 1px solid var(--form-element__border-color);
            border-radius: 0.125rem 0 0 0.125rem;
            margin-right: -2px;
            z-index: 0;
        }

        .color-picker__color:hover {
            cursor: pointer;
        }

        .color-picker__color--disabled {
            pointer-events: none;
            border: 1px solid var(--input-box__background-color--disabled);
        }

        .color-picker__text-box {
            flex: 1;
        }
    }
}
