.c-InputField {
  // min-width: 15rem;

  .label-contained {
    color: black;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  }

  .visible {
    visibility: visible;
  }

  &:not(.fillAndSubmit) {
    input {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 1.4rem;
      padding: 0.5rem;
      &:focus {
        outline: none;
        &~label {
          opacity: .65;
          transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
        }
      }
      &.small {
        border-radius: 0.375rem;
        &.label-right-tagged {
          border-radius: 0.375rem 0 0 0.375rem;
        }
      }
    }
  }

  &.fillAndSubmit {
    height: 5rem;
    input, button {
      transition: all 0.3s;
    }
    button {
      transition: visibility 0.1s;
    }
    ::-webkit-input-placeholder {
      font-style: unset;
      font-size: 1.2rem;
    }
    ::-moz-placeholder {
      font-style: unset;
      font-size: 1.2rem; 
    }
    ::-ms-input-placeholder {
        font-style: unset;
        font-size: 1.2rem; 
    }

    input {
      padding: 0.5rem 1rem;
      height: 50%;
      min-width: 8rem;
      border: none;
      outline: none;
    }
    button {
      height: 50%;
      padding: 0.5rem 2rem;
      // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      outline: none;
      border: 1px solid white;
      font-size: 1.2rem;
      color: white;
      
      &.bg-green {
        background: #198754;
        
        &:hover {
          background-color: #157347;
        }
      }
    }
  }
  
  &.fancy {
    transition: max-height 0.5s;
    button {
      visibility: hidden;
      &:disabled {
        color: #8d9ab9;
        border: 1px solid #8d9ab9;
      }
      &.loading {
        &:before {
          display: block;
          content: "";
          width: 2rem;
          height: 2rem;
          background: url('../../../static/images/rocket.svg') no-repeat center center/cover;
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
      }
    }
    input {
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    }
    ::-webkit-input-placeholder {
      color: rgb(39, 230, 39);
    }
    ::-moz-placeholder {
      color: rgb(39, 230, 39);
    }
    ::-ms-input-placeholder {
      color: rgb(39, 230, 39);
    }
    :-webkit-autofill {
      transition: all 5000s ease-in-out 0s;
      -webkit-text-fill-color: white;
      background-color: transparent;
      caret-color: #fff;
    }
  }

  @media (min-width: 576px) {
    &.fillAndSubmit {
      height: unset;
      input {
        height: 100%;
      }
      button {
        height: 100%;
      }
    }
    &.w-75 {
      width: auto !important;
    }
    &.mx-auto {
      margin-left: calc(-.5 * var(--bs-gutter-x)) !important;
      margin-right: calc(-.5 * var(--bs-gutter-x)) !important;
    }
  }
}
