
.table-section {
    width: 100%;
    height: 25rem;
    padding: 0 1.5rem;
}

.refresh-history{
    margin-left: auto;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    padding-right: 1.5rem;
}
