@import "../../styles/variables";

.c-Drawer {
  border-radius: 0 0 0 $dashboard-border-radius;
  transition: all 0.3s;

  &.dashboard {
    background: $primary-base-color;
  }

  &.component-creator {
    background: $primary-base-color-translucent;

    .c-Drawer__menu-item__background-container {
      .c-Drawer__menu-item__background {
        &.l-2, &.l-1 {
          background-color: transparent;
        }
      }
    }
  }

  .c-Drawer__controller {
    right: -0.9rem;
    top: 3rem;
    background: white;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10;

    &.hovered {
        background: $primary-font-color-dark;
    }

    img {
        transition: all 0.3s;
    }
  }

  &.expanded .c-Drawer__controller {
    padding-left: 0.1rem;
    img {
        transform: rotateY(180deg) translateX(0.2rem);
    }
  }

  .c-Drawer__menu-item__background {
    height: 4.5rem;
    transition: top 0.3s;
  }
  
  .c-Drawer__menu-item {
    &:not(.place-holder) {
      cursor: pointer;
    }
    transition: all 0.3s;
    height: 4.5rem;

    &.selected {
      .c-Drawer__menu-item-label {
        color: $primary-base-color;
      }
    }
  }

  .c-Drawer__menu-item__background-container {
    transition: all 0.3s;
    .c-Drawer__menu-item__background {
      width: 100%;
      position: absolute;
      &.l-1 {
        background-color: white;
      }
      &.l-2 {
        background-color: $primary-base-color;
      }
      &.pre {
        top: 0;
        &.l-2 {
          border-radius: 0 0 2rem 0;
        }
      }
      &.post {
        top: 9rem;
        &.l-2 {
          border-radius: 0 2rem 0 0;
        }
      }
      &.mid {
        top: 4.5rem;
      }
    }
  }
  
}
