.options-header {
    padding-bottom: 1rem;
}

.options-header-text {
    font-weight: var(--font-weight-bold);
}

.options-item {
    overflow-x: auto;
    padding-bottom: 16px
}

.data-sections {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    display: flex;
    border-bottom: 1px solid var(--dialog__border-color--partition);
}

.constraint-options {
    border: 1px solid var(--tab__border-color);
}
