.center-panel {
    margin-left: 1rem;
    margin-right: 1rem;
}

.container-width {
    width: 50%;
}

.picklist-container {
    display: flex;
    height: 200px;
    align-items: center;
    padding-top: 10px;
}
