.container-spacing {
    padding: 16px 0 16px 16px;

    .radio-button-spacing {
        padding-bottom: 12px;
    }

    .sub-container {
        padding: 0 0 12px 25px;
    }

    .text-box-width {
        width: 80px;
    }

    .select-bar-width {
        width: 150px
    }
}
