@use '@blk/aladdin-web-components/dist/collection/styles/aux-variables';

.inv-univ-settings {
    min-height: 58vh;
    background-color: var(--secondary__background-color);
    border: 0.0125rem solid var(--drawer__border-color);

    .add-universe-link {
        float: right;
        color: var(--primary__background-color);
        margin: aux-variables.$aux-spacing-04;
    }

    .universe-check {
        margin-top: 6px;
        width: aux-variables.$aux-spacing-04;
    }

    .content-container {
        margin: 2px;
    }

    .divider {
        width: 96%;
        border-width: 0.5px;
    }

    .container {
        margin-bottom: aux-variables.$aux-spacing-03;
    }

}

.content-horizontal {
    width: 100%;
    margin-top: aux-variables.$aux-spacing-08;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
