.toggle {
    padding-right: 1%;
}

.lt-settings-div1 {
    display: flex;
    padding-bottom: 2%;

    .lt-settings-div2 {
        width: 63%;
        padding-right: 5%;
        display: flex;
    }

    .lt-settings-div5 {
        display: flex;
        width: 30%;
    }
}
