.c-Join {
    .c-Join__content {
        transition: opacity 1s;
        .c-LoginHero__sign-up-prompt .c-InputField {
            transition: all 0.3s;
        }
    }
    .c-Join__background {
        transition: opacity 2.5s;
    }
    &.onboarder {
        .c-Join__content {
            opacity: 0;
            .c-LoginHero__sign-up-prompt .c-InputField {
                opacity: 0;
            }
        }
    }
    // .c-Join__background {
    //     z-index: 0;
    // }
}