<aux-date-range-picker
    [skipValidation]="true"
    [isRelativeDate]="includeRelativeDate"
    [keepRelativeStartDate]="fromDate.dateString"
    [keepRelativeEndDate]="toDate.dateString"
    [startDateRelativeValue]="fromDate.dateString ? displayStartDate : undefined"
    [endDateRelativeValue]="toDate.dateString ? displayEndDate : undefined"
    [startValue]="absoluteStartDate"
    [endValue]="absoluteEndDate"
    [isValid]="isValid"
    [id]="uniqueId"
    [minDate]="minDateString"
    [maxDate]="maxDateString"
    [filterMonths]="false"
    [isDisabled]="isDisabled"
    [closeCalendarOnBlur]="false"
    [inputDateFormat]="AuxDatePickerDateFormatEnum.MM_DD_YYYY"
    [displayDateFormat]="AuxDatePickerDateFormatEnum.MM_DD_YYYY"
    [separator]="AuxDatePickerSeparatorsEnum.FORWARD_SLASH"
    [hasFooterSettings]="false"
    [hasCalendarFooter]="false"
    (startValueChanged)="onDateRangeChanged(fromDate, $event)"
    (endValueChanged)="onDateRangeChanged(toDate, $event)">
</aux-date-range-picker>
