.style-checkbox-container {
    padding-bottom: 12px;
}

.date-format-container {
    padding-top: 12px;
    padding-bottom: 6px;
    width: 250px;
}

.baseline-checkbox-div {
    padding-top: 1rem;
}
