.c-Circle {
  border: 1px solid black;

  &:before {
    content: "";
    width: 0.1875rem;
    height: 0.1875rem;
    border: 0.1875rem;
    border: 1px solid black;
    background: black;
    display: inline-block;
  }
}
