<div>
    <div>
        <span class="scenario-select--label">{{ SCENARIO_LABEL }}</span>
        <aux-button
            [label]="SCENARIO_HELPER_TEXT"
            [type]="AuxButtonTypeEnum.TERTIARY"
            (click)="openScenariosDocumentationLink()"
        ></aux-button>
    </div>
    <div class="scenario-select">
        <aux-select
            id="scenarioSelect"
            [hasInitialOptionPlaceholder]="false"
            [data]="scenarioSelectOptions"
            (selectionChanged)="updateScenario($event)">
        </aux-select>
    </div>
</div>
