.aux-checkbox-group-container{
    padding-top: 5px;
    padding-bottom: 10px;
}
.base-portfolio-container {
    padding-top: 10px;
    padding-bottom: 10px;

    .base-portfolio-label {
        padding-bottom: 0.5rem;
        display: inline-flex;
        
    }
}