.gif-spinner {
    text-align: center;

    img {
        margin: auto;
    }

    .medium-loading-label {
        padding-top: 0.75rem;
        font-size: 0.8125rem;
    }

    .large-loading-label {
        padding-top: 1.25rem;
        font-size: 0.8125rem;
    }
}
