<aux-date-picker
    [closeCalendarOnBlur]="closeCalendarOnBlur"
    [dateFormat]="AuxDatePickerDateFormatEnum.MM_DD_YYYY"
    [displayDateFormat]="AuxDatePickerDateFormatEnum.MM_DD_YYYY"
    [filterMonths]="true"
    [hasDateFormatSettings]="false"
    [hasFooterLabel]="false"
    [hasFooterSettings]="false"
    [hasSeparatorSettings]="false"
    [hasTodayInFooter]="true"
    [isDisabled]="isDisabled"
    [isFooterVisible]="!hideFooter"
    [isLeftLabel]="isLeftLabel"
    [isOpen]="isDatePickerOpen"
    [isRelativeDate]="includeRelativeDate"
    [isValid]="isValid"
    [keepRelativeDate]="dateObject.dateString"
    [keepTodayEnabled]="true"
    [label]="label"
    [maxDate]="maxDateString"
    [minDate]="minDateString"
    [relativeDateValue]="dateObject.dateString ? displayDate : undefined"
    [separator]="AuxDatePickerSeparatorsEnum.FORWARD_SLASH"
    [size]="size"
    [skipValidation]="true"
    [value]="absoluteDate"
    (calendarClosed)="onDatePickerClosed()"
    (calendarOpened)="onDatePickerOpened()"
    (footerClicked)="onFooterClicked($event)"
    (valueChanged)="onDateChangedFromInputBox(dateObject, $event)">
</aux-date-picker>
