.label {
    font-weight: bold;
    margin: 12px 0;
}

.top-label {
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 12px;
}

.padding-bottom__6 {
    padding-bottom: 6px;
}

.padding-top-bottom__6 {
    padding: 6px 0;
}

.margin-top-bottom__12 {
    margin: 12px 0;
}
.margin-bottom__12 {
    margin-bottom: 12px;
}

.margin-right__16 {
    margin-right: 16px;
}

.select-width__245 {
    width: 245px;
}

.select-width__225 {
    width: 225px;
}

.margin-top-bottom__6__12 {
    margin: 6px 0 12px;
}

.inline-block {
    display: inline-block;
}
