.sub-container {
    padding: 0 0 0 12px;

    .bottom-space {
        padding-bottom: 16px;
    }

    .select-width-bar {
        width: 200px;
    }
}

.bottom-space-container {
    padding-bottom: 12px;
}
