<div class="base-portfolio-container">
    <div class="base-portfolio-label">
      <span class="aux-primary-text__color">Base portfolio</span>
      <div class="inline-flex">
        <aux-popover [trigger]="'hover'" hasCloseIcon="false">
          <aux-button
            type="tertiary-subtle"
            icon="info-bold"
            assistiveText="Button"
            slot="target">
          </aux-button>
          <div slot="content" class="custom-popover-container" [innerHTML]="basePortfolioText">
          </div>
        </aux-popover>
      </div>
    </div>
    <div class="anchor-section">
      <aux-select
        [hasInitialOptionPlaceholder]="false"
        (selectionChanged)="setSelectedAnchorValue($event)"
        [data]="anchorOptions">
      </aux-select>
    </div>
  </div>