.min-val-container {
    padding-right: 12px;
    float: left;

    .width-select-dropdown {
        width: 250px;
    }
}

.column-bar {
    display: inline-block;
}

    .unicode-container {
        padding: 31px 12px 0 0;
        display: inline-block;
    }

    .text-bar {
        padding-left: 12px;
    }
