.div1-padding {
    padding-top: 32px;
    padding-left: 8px;
}

.div2-padding {
    padding-left: 8px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.div-padding {
    padding-top: 32px;
    padding-left: 8px;
    padding-bottom: 32px;
}

.source-styl {
    padding-left: 24px;
    padding-top: 4px;
    color: var(--secondary-text__color);
}

.revert-styl {
    padding-top: 24px;
}

.other-style {
    width: 97px;
    padding-top: 24px;
    padding-left: 8px;
}

.radio-div-padding {
    padding-left: 33px;
    padding-bottom: 33px;
}

.asset-class-cov-padding {
    padding-left: 10px;
    padding-bottom: 33px;
}

.inline-container {
    display: inline-flex;
}

.reset-padding {
    margin-left: -3px;
}

.label-padding {
    padding-left: 10px;
    padding-bottom: 2px;
}

.tooltip-style{
    padding-left: 3px;
}

.label-style{
    padding-left: 8px;
    padding-bottom: 3px;
}

.div3-padding {
    padding-left: 8px;
    padding-bottom: 32px;
}

.revert-style {
    display: inline-block;
    margin-left: 9px;
    margin-top: -3px;
}


