<div class="bottom-space-container">
    <label>{{label}}</label>
</div>
<div class="sub-container">
    <div class="bottom-space-container" *ngIf="showIncludeOptions">
        <label>Include</label>
    </div>

    <ng-container *ngFor="let option of includeOptions">
        <ng-container *ngIf="option.showCheckbox">
            <div class="inline-container">
                <aux-checkbox [label]="option.label"
                              [isChecked]="option.checked"
                              (checkboxChanged)="onIncludeOptionsChanged($event)">
                </aux-checkbox>
            </div>
        </ng-container>
    </ng-container>

    <div class="bottom-space-container" *ngIf="isNavMultiplier">
        <aux-numeric-stepper label="NAV multiplier"
                             [stepperValue]="underlyingLiquiditySettings.navMultiplier"
                             (valueChanged)="onNavMultiplierChanged($event)">
        </aux-numeric-stepper>
    </div>

    <div class="bottom-space-container" *ngIf="isCapacityApproach">
        <aux-radio-group label="Capacity approach"
                         [isStacked]="true"
                         [data]="capacityApproachOptions"
                         (radioGroupChanged)="onCapacityApproachChanged($event)">
        </aux-radio-group>
    </div>
</div>
