.table-width {
    width: 100%;
    table-layout: fixed;
}

.summary-record {
    word-break: break-word;

    .summary-record-display {
        display: flex;

        .summary-record-field {
            padding-top: 0.5rem
        }

        .summary-record-icon {
            padding-left: 1rem;
        }
    }
}
