.notify-div {
    padding: 2rem;

    .top-notify-statement {
        padding-bottom: 2rem;
    }

    .first-notify-statement {
        padding-bottom: 1rem;
    }

    .second-notify-statement {
        padding-bottom: 1rem;
    }
}
