.tab-bar-content--separator {
    border-top: 1px solid var(--tab__border-color);
    margin-top: -1px;
}

.trade-table-div {
    width: 522px;
    margin: 20px auto;

    .trade-table {
        border-top: 1px solid var(--grid__border-color);
        border-left: 1px solid var(--grid__border-color);
        border-right: 1px solid var(--grid__border-color);
    }
}

.trades-heading {
    display: flex;
    justify-content: space-between;
}

.trades-table {
    height: 100vh;
}

.left-right-margins {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

.grid {
    padding-top: 0.5rem;
}
