.c-ArmsCategory {
    // position: relative;
    transition: all 0.3s ease-in-out;
    max-height: 50rem;
    overflow: auto;

    &.collapsed {
        max-height: 0rem;
    }

    .c-ArmsCategory__clickHandler {
        color: white;
        padding-left: 0.5rem;
        width: 92%;
        cursor: pointer;
        height: 2rem;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            padding: 0.1rem 0.3rem 0.3rem 1rem;
            font-weight: bold;
            color: rgb(61, 38, 61);
            border-radius: 1rem;
            background: linear-gradient(90deg, rgba(200, 200, 200,1), rgba(200, 200, 200,0.7), rgba(200, 200, 200,0));
            opacity: 1;
            border: 1px solid darkgray;
            -webkit-backdrop-filter: blur(0.125rem);
            backdrop-filter: blur(0.125rem);
        }
    }
}
