.table-search-container {
    max-width: 700px;
}

.table-search-header {
    padding-bottom: 0.5rem;
}

.table-search-field-container {
    display: flex;
}

.table-search-field {
    flex: 1;
}

.buttons-container--small {
    float: right;
    padding-top: 0.5rem;
}

.button--padding {
    padding-left: 0.5rem;
}

.search-option {
    padding-top: 0.5rem;
}
