.time-period-settings {
    padding-top: 24px;
}
.select-box-width {
    width: 250px;
}

.date-range-container {
    padding-bottom: 5px;
}

.time-period-select-box {
    display: flex;
}

.refresh-btn {
    float: right;
    padding-right: 16px;
    text-align: right;
}

.source-styl {
    margin-top: 3px;
    color: var(--secondary-text__color);
    min-width: 125px;
}
