.date-vary {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid var(--option-group__border-color);
    padding-bottom: 0.75rem;
}

.vary-label {
    display: flex;
    margin-bottom: 0.75rem;
}
