
.add-button {
    float: right;
}

.add-button-div {
    margin-top: 16px;
    width: 100%;
}

.factor-tooltip {
    margin-left: 16px;
    display: inline-block;
}

.tooltip-content {
    width: 410px;
}

.popover-container {
    width: 468px;
}

