.c-Search {
    max-height: 100%;
    min-width: 26.25rem;
    .c-Search__search-field-container {
        width: 30%;
    }

    .c-Search__search-helpers {
        // padding: 0.6rem 0.7rem;
    }
}
