
<div class="add-factors-button">
    <div class="add-factors-container">
        <aux-button (click)="onAddFactorsButtonClicked()" icon="add" label="Add Factors" type="secondary"></aux-button>
        <aux-popover style="margin-left: 12px;"
                     trigger="hover"
                     hasCloseIcon="false"
                     header="Adding Custom Factors"
                     overridePlacement="leftCenter">
            <aux-icon slot="target" type="info-bold" state="primary"></aux-icon>
            <div slot="content" class="popover-container">
                <ul>
                    <li>Users can define factors based on linear combinations of other factors surrounded by brackets.</li>
                    <li>The factors must be specified based on their tags and not their names, e.g. [0.5*USD_10yr-0.2*JPY_10yr].</li>
                    <li>Currently, custom shocks based on STORM factors are not supported properly.</li>
                </ul>
            </div>
        </aux-popover>
    </div>
    <ng-container *ngIf="isFactorDataColumnModalOpen">
        <explore-extended-column-option-factor-data-column-modal [isOpen]="isFactorDataColumnModalOpen"
                                                                 [columnType]="columnType"
                                                                 [inputs]="inputs"
                                                                 [widgetConfigInput]="widgetConfigInput"
                                                                 [restrictedColumnOptions]="restrictedColumnOptions"
                                                                 [isColumnOptionsDisabled]="true"
                                                                 (modalClosed)="onFactorDataColumnModalClosed($event)"
                                                                 [showCustomFactor]="true">
        </explore-extended-column-option-factor-data-column-modal>
    </ng-container>
</div>

<explore-extended-column-option-implied-shock-summary class="factor-column-summary"
                                                      [scenario]="scenario">
</explore-extended-column-option-implied-shock-summary>

<div class="mode-settings">
    <aux-card
        [header]="'left'"
        [borderPadding]="'16'"
        [hasBorder]="true"
        [isVerticallyExpanded]="false"
        [type]="'collapse-vertical'"
        [assistiveText]="'Collapse Vertical Card'"
    >
        <div slot="left" class="conditional-header">Global Implied Shock Settings</div>
        <div slot="content" class="card-content-div">
            <div class="set-margin">
                <aux-radio-group
                    [label]="'Shocks are in'"
                    [isHeaderBold]="true"
                    [isStacked]="true"
                    [data]="impliedShockUnitModes"
                    (radioGroupChanged)="onImpliedShockUnitChanged($event.detail.value.eventData)"
                ></aux-radio-group>
            </div>

            <div class="set-margin">
                <explore-extended-column-option-dxs-factor-unit [shockScenario]="scenario.impliedShockScenario"
                                                                [isDxsShockUnitReadOnly]="isDxsShockUnitReadOnly"
                                                                (valueChangedEmitter)="onDxSFactorUnitChanged()">
                </explore-extended-column-option-dxs-factor-unit>
            </div>

            <div class="set-margin">
                <explore-extended-column-option-restrict-implied-shock [value]='scenario.impliedShockScenario.restrictImpliedShocks'
                                                                       [globalSetting]="true"
                                                                       (valueChange)='onRestrictImpliedShocksChanged($event)'>
                </explore-extended-column-option-restrict-implied-shock>
            </div>

            <div class="set-margin noise-dampening">
                <aux-select label="Noise dampening"
                            [hasInitialOptionPlaceholder]="false"
                            [data]="noiseDampeningModes"
                            (selectionChanged)="onNoiseDampeningModeChanged($event.detail.value.value)">
                </aux-select>
            </div>

            <div class="set-margin shock-date-container">
                <aux-checkbox class="shock-date-checkbox"
                              [isChecked]="scenario.impliedShockScenario.isShockCorrelationsDateEnabled"
                              (checkboxChanged)="onShockCorrelationsDateEnabledCheckboxChanged()">
                </aux-checkbox>
                <explore-core-date-picker [label]="'Date used for shock correlations'"
                                          [size]="'regular'"
                                          [isLeftLabel]="false"
                                          [includeRelativeDate]="false"
                                          [closeCalendarOnBlur]="false"
                                          [dateObject]="shockCorrelationsDateValue"
                                          [isDisabled]="!scenario.impliedShockScenario.isShockCorrelationsDateEnabled"
                                          (dateChange)="onShockCorrelationDateValueChanged($event)">
                </explore-core-date-picker>
            </div>
        </div>
    </aux-card>
</div>

