<div class="remove-margin-container aux-layout__wrapper-16">
    <div class="split-setting">
        <div class="remove-margin-container aux-g16--xs-6 aux-g16--sm-6 aux-g16--md-6 aux-g16--lg-6 aux-g16--xl-6">
            <aux-checkbox-group [data]="checkboxStackedData"
                                [isStacked]=true
                                [hasSelectAll]=true
                                (checkboxGroupChanged)="onCheckboxGroupChanged($event.detail.value)">
            </aux-checkbox-group>
        </div>
        <div class="nav-container aux-g16--xs-6 aux-g16--sm-6 aux-g16--md-6 aux-g16--lg-6 aux-g16--xl-6">
            <aux-menu-nav icon="reload"
                          label="Restore Default"
                          (click)="resetSetting()"
                          class="restore-default-nav">
            </aux-menu-nav>
        </div>
    </div>
</div>
