.c-PropsForm {
  .prop-field-label {
        font-size: 0.7rem !important;
        right: 15px !important;
        height: 100%;
        min-width: 3rem;
        width: 7rem;
        padding: 0.1rem 0.3rem;
        background: #ddd !important;
        left: unset !important;
        top: unset !important;
        text-align: right;
        border-radius: 0 5px 5px 0 !important;
        color: #333 !important;
    }

    .c-PropsForm__propSelector {
      // .col-5 {
      //   padding-left: 0.5rem;
      //   padding-right: 0.5rem;
      // }
      .btn-add-prop {
        font-size: 0.5rem;
        padding: 0.2rem 0.5rem;
      }
    }
}
