@import "./../../styles//variables";

.c-QuickOptionsContainer {
    z-index: 1000;
    max-height: 0;
    max-width: 0;
    width: 15rem;
    background: white;
    color: $primary-container-font-color;
    transition: all 0.3s ease-in-out;
    left: 10%;
    top: 120%;
    transition: all 0.3s;
    border-radius: 0.1875rem;
    
    &.show {
        border: 2px solid lightgrey;
        max-height: 30rem;
        max-width: 30rem;
    }

    &.leftOut {
        left: 10%;
        right: unset;
    }

    &.rightOut {
        right: 10%;
        left: unset;
    }

    &.topOut {
        top: 120%;
        bottom: unset;
    }

    &.bottomOut {
        bottom: 120%;
        top: unset;
    }

    &.right-bottom:after {
        bottom: 100%;
        left: 10%;
    }

    &.left-bottom:after {
        bottom: 100%;
        right: 10%;
    }

    &.right-top:after {
        top: 100%;
        left: 10%;
    }

    &.left-top:after {
        top: 100%;
        right: 10%;
    }

    &.expand-enter, &.expand-appear {
        max-height: 0;
        max-width: 0;
        opacity: 0;
    }

    &.expand-enter-active, &.expand-appear-active {
        max-height: 30rem;
        max-width: 30rem;
        width: 15rem;
        opacity: 1;
        transition: all 300ms;
    }

    &.expand-exit {
        max-height: 30rem;
        max-width: 30rem;
        width: 15rem;
        opacity: 1;
    }

    &.expand-exit-active {
        max-height: 0;
        max-width: 0;
        opacity: 0;
        transition: all 300ms;
    }

    &.expand-appear-done, &.expand-enter-done {
        max-height: 30rem;
        max-width: 30rem;
        width: 15rem;
        opacity: 1;
    }

    li {
        transition: all 0.4s;
        font-size: 14px;

        &:hover {
            background: black;
            color: white;
        }
    }
}
