.c-Hamburger {
    background-color: initial;
    border: none;

    .c-Hamburger__toggle-bar {
        width: 22px;
        height: 2px;
        background-color: white;
        margin-top: 4px;
        margin-bottom: 4px;
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        transition-duration: 500ms;
        transition-property: opacity,transform;
        &:first-child {
            transform-origin: bottom right;
        }
        &:last-child {
            transform-origin: top right;
        }
    }

    &.open {
        .c-Hamburger__toggle-bar {
            &:first-child {
                transform: rotate(-45deg) translateY(-3px);
            }
            &:nth-child(2) {
                opacity: 0;
                transform: scale(0);
            }
            &:last-child {
                transform: rotate(45deg) translateY(3px);
            }
        }
    }
}