
.save-details {
    margin-bottom: 10px;
}

.save-summary {
    margin-top: 30px;
    margin-bottom: 10px;
}

.root-save-card {
    padding: 1rem 1rem;
}

.save-nested-changes {
   padding-top: 15px;
   padding-bottom: 15px;
}