.custom-stepper-container {
    display: flex;

    .text-alignment {
        padding-top: 5px;
    }

    .numeric-stepper-space-bar{
        padding: 0 12px;
    }
}

.time-to-maturity-column-container {
    padding-top: 1rem;
}

.select-drop-box-width {
    width: 220px;
}
